.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.mainImage {
  margin: 1rem 0 0 0;
  width: 95%;
  border-radius: 12px;
  opacity: 0.7;
}

.neon {
  font-size: 2.899rem;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  text-shadow: 0 0 5px var(--background), 0 0 10px var(--background), 0 0 20px var(--background), 0 0 30px var(--background), 0 0 40px var(--background);
}

.link {
  text-decoration: none;
  width: 50%;
}

.coinsContainer {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.coinContainer {
  display: flex;
  background: linear-gradient(90deg, rgba(240, 248, 255, 1) 0%, rgba(233, 245, 255, 1) 35%, rgba(213, 235, 255, 1) 100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.coinContainer:hover {
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.list {
  position: relative;
  width: 171px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coinId {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2.5rem;
  color: #aba8a9;
}

.coinImage {
  width: 45px;
  height: 45px;
  margin-right: 1rem;
  position: absolute;
  top: -9px;
  left: 7px;
}

.currentPrice {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #aba8a9;
}

@media screen and (min-width: 700px) {
  .neon {
    margin: 2rem 0;
  }
}
